.box {
  border: 2px solid grey;
  border-radius: 6px;
}

.text-center {
  border-bottom: 2px solid gray;
}

.add_card {
  border-top: 2px solid gray;
}

.open__add-user {
  background: #e5e7eb;
  padding: 12px 0;
}
